<% if @current_user %>
  <%= "Hello #{@current_user.name}" %>
    <%= link_to "ADD A LINK", new_link_path, class: "btn btn-primary" %>
<% else %>
  <%= link_to("/auth/github") do %>
     <%= fa_icon("github 3x", class: "btn btn-primary") %><h1>LOG IN WITH GITHUB</h1>
  <% end %>
<% end %>

<% if flash[:notice] %>
  <%= flash.notice %>
<% end %>

<% unless @links.empty? %>
<div class="row">
  <% @links.each do |link| %>
    <div class="col-md-4 col-xs-6">
      <%= link_to(image_tag(link.url, class: "img-responsive"), link_path(link))%>
      <div class="caption">
        <%= link.title %>
        Submitted <%= time_ago_in_words(link.created_at) %> ago by <%= link.user.name %>
        <br>
        <%= link_to(upvote_link_path(link), method: :patch) { fa_icon("arrow-up") } %>
        <%= link.votes %>
        <%= link_to(downvote_link_path(link), method: :patch) { fa_icon("arrow-down") } %>
      </div>
    </div>
  <% end %>
<div>
<% end %>
