<div class="row">
  <h1>Hello, <%= @user.name %>!</h1>
</div>
<div class="row">
  <h3>Your Adorables</h3>
  <% if @links.empty? %>
    You haven't posted anything yet! Would you like to <%= link_to "post something adorable", new_link_path %>?
  <% elsif @links.count == 1 %>
    You've posted <%= @links.count %> adorable thing! <%= link_to "See your link", link_path(@links.first.id) %>
  <% else %>
    You've posted <%= @links.count %> adorable things! <%= link_to "See all your links", user_links_path %>
  <% end %>
</div>
<div class="row">
  <h3>Your Favorites</h3>
  <% if @votes.empty? %>
    You haven't favorited anything yet! <%= link_to "Browse adorables", root_path %>
  <% elsif @votes.count == 1 %>
    You've favorited <%= @votes.count %> adorable thing! <%= link_to "See your favorite", link_path(@votes.first.link_id) %>
  <% else %>
    You've favorited <%= @votes.count %> adorable things! <%= link_to "See all your favorites", user_votes_path %>
  <% end %>
</div>
<div class="row">
  <h3>Your Comments</h3>
  <% if @comments.empty? %>
    You haven't commented on anything yet! <%= link_to "Browse adorables", root_path %> (maybe add some random suggestions here?)
  <% elsif @comments.count == 1 %>
    You've commented on <%= @comments.count %> adorable thing! See your comment
  <% else %>
    You've commented on <%= @comments.count %> adorable things! See all your comments
  <% end %>
</div>
<div class="row">
  <h3>Recently Hearted</h3>
</div>
