<% unless @links.empty? %>
<div class="row">
  <% @links.each do |link| %>
    <div class="col-md-4 col-xs-6">
      <%= link_to(image_tag(link.url, class: "img-responsive"), link_path(link))%>
      <div class="caption">
        <%= link_to(heart_link_votes_path(link), method: :patch) { fa_icon("heart") } %>
        <%= link.total_votes %>
        <%= link_to(new_link_comment_path(link)) { fa_icon("comment") } %>
        <br>
        <% if link.title %>
          <div><%= link.title %></div>
        <% end %>
        Submitted <%= time_ago_in_words(link.created_at) %> ago by <%= link.user.name %>
        <br>
        <% link.comments.each do |comment| %>
          <%= comment.user.name %>: <%= comment.comment %>
          <br>
        <% end %>
      </div>
    </div>
  <% end %>
<div>
<% end %>
