<!DOCTYPE html>
<html>
<head>
  <title>Adorables</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if flash[:notice] %>
    <%= flash.notice %>
  <% end %>
  <% if current_user %>
    <%= "Hello #{current_user.name}" %>
    <%= link_to "ADD A LINK", new_link_path, class: "btn btn-primary" %>
    <%= link_to "Logout", signout_path, class: "btn btn-primary" %>
  <% end %>

<%= yield %>

</body>
</html>
